In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm import tqdm

In [9]:
def read_dir(directory):
    dfs = []
    for file in tqdm(os.listdir(directory)):
            try:
                df = pd.read_csv(os.path.join(directory, file))
            except:
                continue
            ticker = file.split('.')[0].upper()
            df['Ticker'] = ticker
            df.set_index('Ticker', inplace=True)
            dfs.append(df)
        df = pd.concat(dfs)
    return df.sort_values('Date')

def read_market_data(stocks=True, etfs=False, stocks_dir='Data/Stocks', etfs_dir='Data/ETFs'):
    dfs = []
    if stocks:
        print('...Reading in Stocks Data...')
        stocks = read_dir(stocks_dir)
    if etfs:
        print('...Reading in ETFs Data...')
        etfs = read_dir(etfs_dir)
    return stocks, etfs

df = read_market_data()

...Reading in Stock Data...

100%|██████████| 7195/7195 [00:14<00:00, 502.20it/s]

In [10]:
df

              Date     Open     High      Low    Close   Volume  OpenInt
Ticker
IBM     1962-01-02   6.4130   6.4130   6.3378   6.3378   467056        0
GE      1962-01-02   0.6277   0.6362   0.6201   0.6201  2575579        0
GE      1962-01-03   0.6201   0.6201   0.6122   0.6201  1764749        0
IBM     1962-01-03   6.3378   6.3963   6.3378   6.3963   350294        0
IBM     1962-01-04   6.3963   6.3963   6.3295   6.3295   314365        0
...            ...      ...      ...      ...      ...      ...      ...
LOR     2017-11-10  11.0700  11.1000  10.9900  11.0900    25648        0
JKS     2017-11-10  27.0900  28.6000  27.0900  28.4100   779333        0
MTBC    2017-11-10   2.1700   2.9400   2.1700   2.5400  1634458        0
CIG     2017-11-10   2.0700   2.1200   2.0200   2.0400  9888898        0
ENR     2017-11-10  42.3900  44.0300  42.3900  43.7500   826419        0

[14887665 rows x 7 columns]